* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

html,
body {
	width: 100%;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: #000000;
	background: #ffffff;
	font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	line-height: 1.6;
}

main {
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}
